{%extends 'layout/site/base.twig'%}
{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>hello site !</h1>
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}